h1{
    color: aqua;
    font-size: 25px;

}
img{
    border: 10 px solid pink;
}

p{
    color: rgb(107, 44, 167);
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px,

}
img{
    border: 5px solid rgb(187, 92, 124);
}